<nav class="site-nav">
    <div class="dropdown">
        <button class="dropbtn">About</button>
        <div class="dropdown-content">
            <a href="{{ site.baseurl }}/index.html">Intro/Home</a>
            <a href="{{ site.baseurl }}/bio.html">Biography</a>
            <a href="{{ site.baseurl }}/awards.html">Affiliations and Awards</a>
            <a href="{{ site.baseurl }}/photos.html">Publicity Photographs</a>
            <a href="{{ site.baseurl }}/calendar.html">Calendar</a>
            <a href="{{ site.baseurl }}/contact.html">Contact</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Music</button>
        <div class="dropdown-content">
            <a href="{{ site.baseurl }}/rhsb.html">Rabbit Hash String Band</a>
            <a href="{{ site.baseurl }}/RHSB_CD_COVER.HTML">CD</a>
            <a href="{{ site.baseurl }}/sound.html">Recording Samples</a>
            <a href="{{ site.baseurl }}/bearfoot.html">Bear Foot</a>
            <a href="{{ site.baseurl }}/barb.html">Barb Childers</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Resources</button>
        <div class="dropdown-content">
            <a href="{{ site.baseurl }}/store.html">Store</a>
            <a href="{{ site.baseurl }}/study.html">Study Guides</a>
            <a href="{{ site.baseurl }}/activity.html">Activities</a>
            <a href="{{ site.baseurl }}/songs.html">Songs</a>
            <a href="{{ site.baseurl }}/dance.html">Dance</a>
            <a href="{{ site.baseurl }}/book.html">Books</a>
            <a href="{{ site.baseurl }}/links.html">Links</a>
        </div>
    </div>

    <a class="nav-link" href="{{ site.baseurl }}/posts">Posts</a>
    <a class="nav-link" href="{{ site.baseurl }}/gallery">Photos</a>

</nav>
