---
layout: default
---

{% if page.show %}
<style>
.post-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.post-item {
    display: block;
    clear: both;
}
</style>
{% endif %}

{% for category in page.selected_categories %}

<div class="home">
  <ul class="post-list">
    {% assign posts = site.categories.[category] | sort: 'title' | sort: 'ordinal', 'first' %}
    {% for post in posts %}
      <li class="post-item">
        <a name="{{ post.title | slugify }}"></a>
        <h2>
          <a class="post-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </h2>
        {% if page.show %}
        <div class="content">
          {% if page.show == "excerpt" %}
            {{ post.content | strip_html | truncatewords:75 }}
          {% else if page.show == "full" %}
            {{ post.content }}
          {% endif %}
        </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

</div>

{% endfor %}
