---
layout: default
---
<article class="post {{ page.categories }}" itemscope itemtype="http://schema.org/BlogPosting">

{% if page.skip_header %}
{% else %}
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>

  {% capture mindate %}{{'1/1/2016' | date: '%s'}}{% endcapture %}
  {% capture posttime %}{{page.date | date: '%s'}}{% endcapture %}
  {% if posttime > mindate %}
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  {% endif %}
 
  </header>
{% endif %}

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
